{% extends "base.html" %} {% block title %}Flask Solr{% endblock %} {% block body %}


    <div class="container">
        <h1>About</h1>
        <p>This app has is a web-layer over Solr, where different cmd's can be executed</p>
        <br>
        <p>Solr-spec 7.5.0 </p>
        <p>Linkes used and doc reference:</p>
        <br>
        <a href="http://lucene.apache.org/solr/guide/7_6/solr-tutorial.html" target="_blank">Solr tutorial</a>
        <br>
        <a href="http://flask.pocoo.org/" target="_blank">Flask</a>
        <br>
        <a href="http://jinja.pocoo.org/docs/2.10/" target="_blank">Jinja2</a>
        <br>
        <a href="https://codeburst.io/jinja-2-explained-in-5-minutes-88548486834e" target="_blank">Jinja2-5-min</a>
        <br>
        <a href="https://www.w3schools.com/booTsTrap/default.asp" target="_blank">Bootstrap</a>
        <br>
    </div>
<!-- debug
<p>selectd {{ local_url_selected }}</p>
{{ local_urls }}
-->
{% endblock %}