{% extends "base.html" %} {% block title %}Flask Solr{% endblock %} {% block body %}

<div class="container">
    <h1>Search</h1>
    <p>Request: {{ req }}</p>
    <br>
    <p>Current URL: {{ local_url_selected }}</p>
    <br>
    <p>Search (case sensitive), you searched for: {{ rv }} in : {{ param }}</p>
    <form action="/search_str" method="POST">
        <div class="form-group">
            <div class="col-xs-3">
                <input class="form-control" id="inputdefault" type="text" name="user_input" />

                <br>
                <!-- post btn -->
                <input type="submit" name="action" value="Search" class="btn btn-primary" />
                <br>
                <br>
            </div>
        </div>
         <!-- option value must match schema in SolR-->
        <label class="radio-inline">
            <input type="radio" name="options" value="id">Id
        </label>
        <label class="radio-inline">
            <input type="radio" name="options" value="tag">Tag
        </label>
        <label class="radio-inline">
            <input type="radio" name="options" value="plant">Plant
        </label>
         <label class="radio-inline">
            <input type="radio" name="options" checked value="desc">Description
        </label>

        <br>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container">

        {% for r in data %}
        <p> {{ r }}</p>
        {% endfor %}
        <br>

    </div>

</div>


<!-- debug
<p>selectd {{ local_url_selected }}</p>
{{ local_urls }}
-->
{% endblock %}